@charset "UTF-8";
/* CSS Document */

*{
		margin:0;
		padding:0;	
	}
	
	.wrapper{
		height:auto;
		margin-right:auto;
        width:100%;
		margin-left:auto;
		position:absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
	}
	
	.placeholder{
		position:relative;
		width:100%;
		height:100%;	
	}
	
	.header{
		background-color:#021042;
		width:100%;
		height:50px;
		float:left;
		position:relative;
	}
	
	.banner{
		position:relative;
		width:100%;
	}
	
	.banner .banner-background{
		width:100%;
		position:relative;
		vertical-align:bottom;
	}
	
	.banner .logo{
		position:absolute;
		top:0px;
		left:0px;
		right:0px;
	}
	
	.banner-menu-button{
		position:absolute;
		top:60px;
		right:15px;
		z-index:100;
		width:66px;
		height:66px;
		background-image:url(images/menu-button.png);
	}
	
	.main-content{
		width:100%;
		min-height:85%;
		float:left;
	}
	
	.main-title{
		color:#06248A;
		font-family:"Liberation Sans Regular", "Arial", "sans-serif";
		font-size:1.8em;
		text-align:center;
		font-weight:400;
		width:100%;
		float:left;
		clear:both;
		margin-top:25px;
	}
	
	.main-content-image{
		width:100%;
		position:relative;
		vertical-align:bottom;
		margin-top:50px;
		float:left;
		clear:both;
	}
	
	
	.main-content p{
		color:#06248A;
		font-family:"Liberation Sans Regular", "Arial", "sans-serif";
		font-size:1.3em;
		text-align:justify;
		font-weight:400;
		width:80%;
		float:left;
		clear:both;
		padding-left:10%;
		padding-right:10%;
		margin-top:25px;
		float:left;
		clear:both;
	}
    
    .main-content .contact-me-name{
    	font-size:2.5em;
		text-align:center;
	}
	
	.main-content .contact-me-job-title{
		font-size:1.8em;
		text-align:center;
		margin-bottom:20px;	
	}
	
	.contact-form{
		margin-left:10%;
		margin-right:10%;
		width:80%;
	}
	
	.contact-form input, .contact-form textarea{
		padding-left:15px;
		color:#06248A;
	}
	
	.contact-form textarea{
		height:600px;
		width:100%;
		font-size:1.3em;
		border-radius:25px;
		padding-top:15px;
		margin-bottom:35px;
	}
	
	.contact-entry{
		width:100%;
		height:65px;
		margin-bottom:35px;
		font-size:1.3em;
		border-radius:25px;
		
	}
	
	::-webkit-input-placeholder {
   		color:#06248A;
	}
	
	form .contact-submit-button{
		padding-top:100px;
		padding-bottom:100px;
	}
	
	.submit-button{
		width:220px;
		height:60px;	
		border-radius:10px;
		font-size:33px;
		background-color:#06248A;
		color:#FFFFFF;
		font-family:"Liberation Sans Regular", Arial;
		margin-left:5px;
	}
@media screen and (max-width: 480px){
	.main-title{
		font-size:1.3em;	
		
	}
	
	.main-content p{
		font-size:0.9em;	
	}
	
	.banner-menu-button{
		width:33px;
		height:33px;
		background-image:url(images/menu-button_320.png);
		
	}
    
    .main-content .contact-me-name{
    	font-size:1.5em;
	}
	
	.main-content .contact-me-job-title{
		font-size:1.3em;
	}
}

.wrapper.tablet{
    display:none;    
}

@media screen and (min-width: 640px){
    .wrapper.mobile{
        display:none;
    }
    .wrapper.tablet{
    	max-width:768px;
		margin-left:auto;
		margin-right:auto;
        display:block;
	}
	
	.banner{
		position:relative;
	}
	
	.banner .banner-image{
		width:100%;
	}
	
	nav{
		position:absolute;
		top:15px;
		right:25px;
		width:auto;
	}
	
	nav ul li{
		float:left;
		list-style:none;
		margin-left:25px;
	}
	
	nav ul li a{
		color:#FFFFFF;
		text-decoration:none;
		font-size:20px;
	}
	
	.main-content{
		max-width:768px;	
		margin-bottom:50px;
		height:auto;
		overflow:auto;
	}
	
	h1{
		font-size:34px;
		text-align:center;
		margin-top:60px;
	}
	
	.main-photo{
		width:100%;
		margin-top:70px;	
	}
	
	.main-text{
		width:699px;
		color: #011e8c;
		font-size: 19.62px;
		line-height: 48px;
		text-indent:50px;
		text-align:justify;
	}
	
	/*Tablet Skills Page Styles*/
	
	.main-content-skill-left, .main-content-education-left, .main-content-skill-right, .main-content-education-right{
		width:50%;
		text-align:center;	
		float:left;
		line-height:48px;
		font-size:21.46px;
	}
	
	.main-content-skill-left li, .main-content-skill-right li, .main-content-education-left li, .main-content-education-right li{
		list-style:none;	
	}
	
	.main-text-skill, .main-text-education{
		height:100%;	
		overflow:auto;
	}
	
	/*Tablet Experience Page Styles*/
	
	.main-content.experience h2{
		color: #011e8c;
		font-size: 26px;
		text-align:center;
		margin-top:60px;
		display:block;
		clear:both;
		float:left;
		width:100%;
		
	}
	
	.main-content.experience h3{
		color: #011e8c;
		font-size: 26px;
		font-weight: 400;
		line-height: 48px;
		transform: scaleY(1);
		width:50%;
		float:left;
		text-align:center;
		margin-top:40px;
	}
	
	.main-content.experience p{
		color: #011e8c;
		font-size: 22px;
		font-weight: 400;
		line-height: 48px;
		transform: scaleY(1);
		text-align:justify;
		margin-top:40px;
		float:left;
	}
	
	/*Tablet Contact Page Styles*/
	
	.main-content.contact-tablet .main-content-info-tablet h1{
		margin-top:30px;	
		margin-bottom:15px;
	}
	.main-content.contact-tablet h2{
		margin-top:10px;
		text-align:center;
		line-height: 48px;
		color: #011e8e;
		font-size: 29.99px;
		font-weight: 400;
		line-height: 48px;
		transform: scaleY(1);
	}
	
	.main-content-info-tablet{
		margin-bottom:60px;	
	}
}