<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><!--sitetitle--></title>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<meta name='KeyWords' content="<!-- key words -->">
	<script type="text/javascript" src="<!-- javascript functions -->"></script>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<!--OLD WAY OF DOING IT BEFORE I UNDERSTOOD WHAT WAS GOING ON
	<link rel="stylesheet" type="text/css" href="css/ourcss.css" />
	<link rel="stylesheet" type="text/css" href="../css/ourcss.css" />
	-->
	<link rel="stylesheet" type="text/css" href="<!-- styles -->" />
	<link rel="icon" type="image/ico" href="<!-- favicon -->" />
</head>

<body>

<div id="container">
	
	<!--I don't want to use this
	<div id="corner" style="width:150px;float:left;">
	&nbsp;
	</div>
	-->
	
	<div id="banner">
	<!--banner-->
	</div><!--End of Banner-->
	
	
	<div id="navbar">
	<!--navbar-->
	</div><!--End of Navbar-->
	
	<div id="content">
		<div id="sidebar">
		<!--sidebar-->
		</div>
	<!--content-->
	</div><!--End of Content-->
	
	<div id="footer">
	<!--footer-->
	</div> <!--End of Footer-->

</div><!--End of Container-->

</body>
</html> 
